<%= render "homepage/header"%>

<h1>Specialization#new</h1>
<%= render "form" %><br/>

<%= link_to "Clear", new_specialization_path %><br/>
<%= link_to "List of Specializations", specializations_path %><br/>

