<%= render "homepage/header"%>

<h1>Doctors#new</h1>
<%= render "form" %><br/>


<%= link_to "Clear", "/doctors/new" %><br/>
<!-- <%#= link_to "Clear", new_patient_path %> -->

<%= link_to "List of Doctors", "/doctors" %><br/>
<!-- <%#= link_to "List of Doctors", patients_path %> -->

<script>
  $(document).ready(function () {
  $("#new_doctor").validate(
  {
    debug: true,

    //error place
    errorPlacement: function (error, element) {
    error.insertAfter(element);
    },
    
    //adding rule
    rules: {  
      "doctor[name]":{ required: true, maxlength: 20, number: false, lettersonly: true },
      "doctor[ph_no]": {required: true, digits: true, rangelength: [10, 10]},
      "doctor[salary]": { required: true}

    },
    
    // error messages
    messages: {
      "doctor[name]": { required:  "*Name can`t be blank", maxlength: "*Name can't be longer than 20 letters", number: "you  can't enter number in name" },
      "doctor[ph_no]": { required: "*Ph No can`t be blank", rangelength: "*Please enter 10 digit phone number"},
      "doctor[salary]": { required: "*Salary can't be blank"}
    }
    
  });
  });
  jQuery.validator.addMethod("lettersonly", function(value, element) 
    {
    return this.optional(element) || /^[a-z ]+$/i.test(value);
    }, "Letters and spaces only please");
</script>

<!-- <script type="text/javascript">
  <%#= render "validate.js" %>
</script> -->
